<!-- <div>
  <div class="shade">
    <div class="showBox">
      <h2>ModalComponent</h2>
      <div class="ipt" key={Math.random()}>
        <label htmlFor={this.props.txt[key] || key}>{this.props.txt[key] || key}:</label>
        <label>title</label>
        <input type="text" placeholder={currentData[key]} class="showPar" />
        <input type="text" placeholder="nihao" class="showPar" />
      </div>
      <p class="showBox_b">
        <input type="button" class="btn btn-success" value="Sure" onClick={this.updproduct.bind(this)} (click)=""/>
        <input type="button" class="btn btn-success" value="Sure" />
        <input type="button" class="btn btn-danger" value="Cancel" onClick={this.shutdown.bind(this)} (click)=""/>
        <input type="button" class="btn btn-danger" value="Cancel" />
      </p>
      <span class="cancel" onClick={this.shutdown.bind(this)} (click)="">&times;</span>
      <span class="cancel">&times;</span>
    </div>
  </div>
</div> -->
