<div class="login-list">
    <ul>
        <li><input type="text" placeholder="输入手机号"/></li>
        <li>
            <input type="text" placeholder="请输入验证码" class="in-code"/>
            <img src="./assets/img-my/reg1.png" class="fr"/>
            <div class="code fr">1234</div>
        </li>
        <li>
            <input type="text" placeholder="短息验证码" class="in-note"/>
            <button class="note fr">发送验证码</button>
        </li>
        <li class="li-hint"><input type="text" class="hint"/></li>
    </ul>
</div>