<header></header>
<div class="lx-car">
	<p class="car-top-tip">· 满一百元免配送服务费 ·</p>
	<ul class="car-list">
		<li>
			<div class="clearfix">
				<a href="#" class="fl">
					<img src="http://static.21cake.com/public/images/3c/31/26/86a166e68dab58c9edfc6be0d986673c.jpg">
				</a>
				<p class="p1-title">Chinese Date</p>
				<p>枣儿</p>
				<p class="ps">规格：2.0磅</p>
				<p class="price ps">￥298.00</p>
			</div>
			<div class="clearfix car-pro-num">
				<span>
					<img src="http://static.21cake.com//themes/wap/img/-.png" class="img1">
				</span>
				<span class="val">2</span>
				<span>
					<img src="http://static.21cake.com//themes/wap/img/+.png" alt="+" class="img2">
				</span>
			</div>
			<p class="laid-count">每份含免费餐具10份</p>
			<a href="#" class="birthday-brand">+ 添加生日牌</a>
		</li>
		<li>
			<div class="clearfix">
				<a href="#" class="fl">
					<img src="http://static.21cake.com/public/images/3c/31/26/86a166e68dab58c9edfc6be0d986673c.jpg">
				</a>
				<p class="p1-title">Chinese Date</p>
				<p>枣儿</p>
				<p class="ps">规格：2.0磅</p>
				<p class="price ps">￥298.00</p>
			</div>
			<div class="clearfix car-pro-num">
				<span>
					<img src="http://static.21cake.com//themes/wap/img/-.png" class="img1">
				</span>
				<span class="val">2</span>
				<span>
					<img src="http://static.21cake.com//themes/wap/img/+.png" alt="+" class="img2">
				</span>
			</div>
			<p class="laid-count">每份含免费餐具10份</p>
			<a href="#" class="birthday-brand">+ 添加生日牌</a>
		</li>
	</ul>
	<div class="car-dp">
		<p class="dp-top">· 搭配商品 ·</p>
		<ul class="clearfix">
			<li>
				<a href="#" class="to-del">
					<img src="http://m.21cake.com/upload/images/f5c184a98afac9e350304232c69b2bc5.jpg" alt="芒果奶油蛋糕">
					<h4>芒果奶油蛋糕</h4>
					<p class="cake-price">￥198.00/2.0磅</p>
					<span class="recommend-cart"></span>
				</a>
			</li>
			<li>
				<a href="#" class="to-del">
					<img src="http://m.21cake.com/upload/images/f5c184a98afac9e350304232c69b2bc5.jpg" alt="芒果奶油蛋糕">
					<h4>芒果奶油蛋糕</h4>
					<p class="cake-price">￥198.00/2.0磅</p>
					<span class="recommend-cart"></span>
				</a>
			</li>
			<li>
				<a href="#" class="to-del">
					<img src="http://m.21cake.com/upload/images/f5c184a98afac9e350304232c69b2bc5.jpg" alt="芒果奶油蛋糕">
					<h4>芒果奶油蛋糕</h4>
					<p class="cake-price">￥198.00/2.0磅</p>
					<span class="recommend-cart"></span>
				</a>
			</li>
			<li>
				<a href="#" class="to-del">
					<img src="http://m.21cake.com/upload/images/f5c184a98afac9e350304232c69b2bc5.jpg" alt="芒果奶油蛋糕">
					<h4>芒果奶油蛋糕</h4>
					<p class="cake-price">￥198.00/2.0磅</p>
					<span class="recommend-cart"></span>
				</a>
			</li>
		</ul>
	</div>
	<div class="car-bottom-js clearfix">
		<i class="car-clear"></i>
		<div class="fr">
			<ul class="clearfix">
				<li class="li01">
					<span>￥2552</span>
					<span>商品</span>
				</li>
				<li class="li02">+</li>
				<li class="li03">
					<span>￥0</span>
					<span>配送费</span>
				</li>
				<li class="li04">
					<a href="#" class="car-js">
						去结算
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>