<div class="lx-car-box">
	<header></header>
	<!-- <div class="lx-car"> -->
	<div class="lx-car" *ngIf="showCar">
		<p class="car-top-tip">· 满一百元免配送服务费 ·</p>
		<ul class="car-list" *ngIf="carDataset">
			<li *ngFor="let item of carDataset;let idx= index">
				<span (click)="delPro($event,item['productid'],idx)">x</span>
				<div class="clearfix">
					<a href="javascript:void(0)" class="fl">
						<img  [src]="srcLink+item['img']">
						
					</a>
					<p class="p1-title">{{item['enname']}}</p>
					<p>{{item['cnname']}}</p>
					<p class="ps">规格：2.0磅</p>
					<p class="price ps">￥{{item['price']*(iptVal.value || item['qty'])}}.00</p>
				</div>
				<div class="clearfix car-pro-num">
					<span>
						<img *ngIf="!showDel[idx]" src="../../../assets/static/-.png" class="img1" (click)="changeQty($event,idx,0)">
						<img *ngIf="showDel[idx]" src="../../../assets/static/delete.png" class="img-del" (click)="delPro($event,item['productid'],idx)">
					</span>

					<!-- <span class="val">{{item['qty']}}</span> -->

					<input class="val" type="text" [value]="item['qty']" [(ngModel)]= "item['qty']" #iptVal>
					
					<span>
						<img src="../../../assets/static/+.png" alt="+" class="img2" (click)="changeQty($event,idx,1)">
					</span>
				</div>
				<p class="laid-count">每份含免费餐具10份</p>
				<a href="javascript:void(0)" class="birthday-brand">+ 添加生日牌</a>
			</li>
		</ul>
		<div class="car-kong" *ngIf="!carDataset">
			您的购物车为空，赶紧去购物吧！
		</div>
		<div class="car-dp">
			<p class="dp-top">· 搭配商品 ·</p>
			<ul class="clearfix">
				<li *ngFor="let item of proTjDataset">
					<div class="to-del" (click)="gotoDetail($event,item['_id'],item)">
						<img [src]="srcDelLink+item['img']" alt="">
						<h4>{{item.cnname}}</h4>
						<p class="cake-price">￥{{item.price}}/2.0磅</p>
						<span class="recommend-cart"></span>
					</div>
				</li>
			</ul>
		</div>
		<div class="car-bottom-js clearfix">
			<i class="car-clear" (click)="delAll($event)"></i>
			<div class="fr">
				<ul class="clearfix">
					<li class="li01">
						<span class="total-price">￥{{totalPrice}}</span>
						<span>商品</span>
					</li>
					<li class="li02">+</li>
					<li class="li03">
						<span>￥0</span>
						<span>配送费</span>
					</li>
					<li class="li04">
						<a href="javascript:void(0)" class="car-js" (click)="gotoOrder($event)">
							去结算
						</a>
					</li>
				</ul>
			</div>
		</div>
		<spinner *ngIf="showSpinner"></spinner>
	</div>
	<alert *ngIf="showAlert"></alert>
</div>