<div class="list">
    <header></header>
    <div class="nav">
        <ul>
            <li class="active">蛋糕</li>
            <li>冰淇淋</li>
            <li>小切块</li>
            <li>咖啡</li>
            <li>常温蛋糕</li>
            <li>设计师礼品</li>
        </ul>
    </div>
    
    <div class="content">
        <div class="tag">
            <p class="cate">蛋糕</p>
            <p class="dosing">新鲜乳脂奶油蛋糕</p>
        </div>
        <ul>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
            <li>
                <img src="//images.s.cn/images/20170922/cate/cate_rm_1.jpg"/>
                <div class="des">
                    <p class="enname">Pompeii</p>
                    <p class="cnname">庞贝</p>
                    <div class="buy">
                        <p class="price">¥268.00/个</p>
                        <i class="fa fa-cart-plus"></i>
                    </div>
                </div>
            </li>
        </ul>
        <i class="fa fa-spinner fa-spin upload"></i>
    </div>
</div>