<div class="header">
    <div class="left">
        <i class="fa fa-bars menu" (click)="show1()"></i>
        <div class="location">
            <i class="fa fa-map-marker"></i>
            <p>深圳</p>
        </div>
    </div>
    <div class="center">
        <a routerLink="/index"><i class="fa fa-birthday-cake"></i></a>
    </div>
    <div class="right">
        <a routerLink="/login/login1"><i class="fa fa-commenting-o"></i></a>
        <a routerLink="/car"><i class="fa fa-shopping-cart"></i></a>
    </div>
    <div class="links" style="display:none;">
        <a routerLink="/index">
            <i class="fa fa-home"></i>
            <p>首页</p>
        </a>
        <a routerLink="/list">
            <i class="fa fa-th-large"></i>
            <p>分类</p>
        </a>
        <a routerLink="/my">
            <i class="fa fa-user-o"></i>
            <p>个人</p>
        </a>
    </div>
</div>