<div class="products_box box">
    <div class="products_head head">
      <h2>购物车</h2>
    </div>
    <div class="products_nav nav">
      <i class="fa fa-motorcycle wel"></i>
      <span>购物车</span>
      <i class="fa fa-angle-right"></i>
    </div>
    <div class="products_describe describe">
      <span>用户购物车中的商品，不可操作</span>
    </div>
    <div class="products_form form">
        <div class="form_head">
          <span>user</span>的购物车
        </div>

        <div class="form_content">
              <table>
                <thead>
                    <tr>
                        <th>你好</th><th>你fasfasf好</th><th>你sfsafs好</th><th>你好sfsafsa</th><th>你好reer</th><th>你ert好</th><th>你好</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>fhishfia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
