<div class="login_body">
    <div class="login_box">
        <div class="h1">后台管理系统</div>
        <div class="login_content">
            <div class="form-title">
                <span class="form-title">Welcome.</span>
                <span class="form-subtitle">Please login.</span>
            </div>
            <div class="form-group">
                <input class="form-control username" type="text" autocomplete="off" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <input class="form-control password" type="password" autocomplete="off" placeholder="Password" name="password">
            </div>
            <div>
                <button type="submit" class="btn-primary " [class.actived]="background" (click)="login($event)">LOGIN</button>
            </div>
        </div>
    </div>
</div>
<!-- <app-spinner></app-spinner> -->
