    <div id="reg">
        <header></header>
        <div class="reg-box">
            <div class="reg-title">
                用户注册
            </div>
            <div class="reg-list">
                <ul>
                    <li><input type="text" placeholder="输入手机号" (change)="phone()" class="phone"/></li>
                    <li><input type="text" placeholder="用户名:6~10位字母开头" (change)="user()" class="user"/></li>
                    <li><input type="password" placeholder="密码:6~20字符,需同时包含英文和数字" (change)="pass()" class="pass"/></li>
                    <li><input type="password" placeholder="确认密码" (change)="pass2()" class="pass2"/></li>
                    <li>
                        <input type="text" placeholder="请输入验证码" class="in-code" (change)="code()"/>
                        <img src="./assets/img-my/reg1.png" class="fr" (click)="changeCode()"/>
                        <div class="code fr"></div>
                    </li>
                    <li>
                        <input type="text" placeholder="短息验证码" class="in-note" (change)="innote()"/>
                        <input class="note fr" (click)="getnote()" value="获取验证码"/>
                    </li>
                    <!-- <li><input type="date"/ value="abc"></li> -->
                    <li class="li-hint"><input type="text" class="hint"/></li>
                </ul>
            </div>
            <div>
                <input type="button" value="注册" class="reg-btn" (click)="toreg()"/>
            </div>
            <div class="reg-foot">
                <input type="checkbox" class="fl"/>已阅读并同意<span>21客会员协议和</span>和<span>隐私保护政策</span>
            </div>
        </div>
    </div>