.box .describe{
    padding: 15px 30px 15px 15px;
    margin: 30px 0;
    border-left: 3px solid #bbdba1;
    background-color: #eef7ea;
}
.box .form{
    height:380px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bbdba1;
}
.box .form .form_head{
    background-color: #bbdba1;
    height: 50px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
.box .form .form_search{
  height: 50px;
  /* text-align: center; */
  line-height: 50px;
  position: relative;
  width: 420px;
  margin: 0 20px;
}
.box .form .form_search input{
    border-radius: 20px;
    outline: none;
    /* appearance: button; */
}
.box .form .form_search .inp{
  height: 30px;
  line-height: 30px;
  width: 400px;
  padding-left: 20px;
}
.box .form .form_search .btn{
  height: 34px;
  line-height: 30px;
  width: 80px;
  border: none;
  border-radius:0  20px 20px 0;
  position: absolute;
  right: -3px;
  top: 9px;
  background-color:#bbdba1 ;
  color:white;
}
.box .form .form_content{
    padding:10px 20px 20px 20px;
}
.box .form .form_content table{
    border-collapse: collapse;
    width: 100%;
}
.box .form .form_content table thead{
    font-size: 14px;
    font-weight: 600;
}
.box .form .form_content table tr th,td{
    border: 1px solid;
    height: 20px;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}
