<div class="products_box box">
  <div class="products_head head">
    <h2>商品</h2>
  </div>
  <div class="products_nav nav">
    <i class="fa fa-shopping-bag wel"></i>
    <span>商品管理</span>
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="products_describe describe">
    <span>商品页面，添加商品，编辑，下架，删除，都可以配置单独的权限，后台简单调用权限接口，每个按钮和文字都可以控制，并在后台管理中给其他人配置操作权限。</span>
  </div>
  <div class="products_form form">
    <div class="form_head">
      所有商品
    </div>
    <div class="form_nav">

      <div class="input-group fl pro-header-l top form_search">
        <input type="text" placeholder="Search" class="form-control search-input inp" id="search">
        <button class="btn btn-primary btn" (click)="mohusearch($event)">Search</button>
      </div>

      <div class="top fr add">
        <button class="btn btn-primary addbtn" (click)="appearModal_1($event)">Add</button>
      </div>


      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="pagePrevious($event)">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item pageColor" *ngFor="let num of pageNumberArray" (click)="xuanran($event,num)"><a class="page-link">{{num}}</a></li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="pageNext($event)">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li>一共
            <span class="qty">{{productsqty}}</span>
            条数据
          </li>
        </ul>
      </nav>

    </div>

    <div class="form_content">
      <table *ngIf="dataset.length>0" class="table table-striped">
        <thead>
          <tr>
            <ng-template ngFor let-key [ngForOf]="columns">
              <th [class.item-hide]="hideColumns.indexOf(key) > -1">{{key}}</th>
            </ng-template>
            <th>Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataset,let idx=index">
            <ng-template ngFor let-key [ngForOf]="columns">
              <td [class.item-hide]="hideColumns.indexOf(key) > -1">{{item[key]}}</td>
            </ng-template>
            <td class="last-td">
              <input type="button" class="btn btn-secondary btn-sm" value="compile" [attr.data-idx]="idx" (click)="appearModal($event,item)" (click)="changdata($event)" />
              <input type="button" class="btn btn-danger btn-sm delBtn" [attr.data-idx]="idx" value="del" (click)="del($event)" [attr.data-id]="item._id" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- modal1 -->
    <div>
      <div class="shade" *ngIf="show">
        <div class="showBox">
          <h2>修改商品</h2>
          <div class="input-group fl pro-header-l top form_search">
            <label>_Id:</label>
            <input type="text" [(ngModel)]="Id" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Name:</label>
            <input type="text" [(ngModel)]="Name" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Enname:</label>
            <input type="text" [(ngModel)]="Enname" class="form-control search-input inp" id="search">
          </div>

          <div class="input-group fl pro-header-l top form_search">
            <label>Title:</label>
            <input type="text" [(ngModel)]="Title" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Price:</label>
            <input type="text" [(ngModel)]="Price" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Number:</label>
            <input type="text" [(ngModel)]="Number" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Category:</label>
            <input type="text" [(ngModel)]="Category" class="form-control search-input inp" id="search">
          </div>
          <!-- <div class="input-group fl pro-header-l top form_search">
            <label>Weight:</label>
            <input type="text" [(ngModel)]="Weight" class="form-control search-input inp" id="search">
          </div> -->
          <div class="input-group fl pro-header-l top form_search">
            <label> Img:</label>
            <input type="text" [(ngModel)]="Img" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label> Hot(0/1):</label>
            <input type="text" [(ngModel)]="Hot" class="form-control search-input inp" id="search">
          </div>


          <!-- </div> -->
          <p class="showBox_b">
            <!-- <input type="button" class="btn btn-success" value="Sure" onClick={this.updproduct.bind(this)} (click)=""/> -->
            <input type="button" class="btn btn-success" value="Sure" (click)="UpdateProduct($event)" (click)="hideModal($event)" />
            <!-- <input type="button" class="btn btn-danger" value="Cancel" onClick={this.shutdown.bind(this)} (click)=""/> -->
            <input type="button" class="btn btn-danger" value="Cancel" (click)="hideModal($event)" />
          </p>
          <!-- <span class="cancel" onClick={this.shutdown.bind(this)} (click)="">&times;</span> -->
          <span class="cancel" (click)="hideModal($event)">&times;</span>
        </div>
      </div>
    </div>

    <!-- modal2 -->
    <div>
      <div class="shade" *ngIf="show_1">
        <div class="showBox">
          <h2>添加商品</h2>
          <div class="input-group fl pro-header-l top form_search">
            <label>Name:</label>
            <input type="text" [(ngModel)]="Name" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Enname:</label>
            <input type="text" [(ngModel)]="Enname" class="form-control search-input inp" id="search">
          </div>

          <div class="input-group fl pro-header-l top form_search">
            <label>Title:</label>
            <input type="text" [(ngModel)]="Title" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Price:</label>
            <input type="text" [(ngModel)]="Price" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Number:</label>
            <input type="text" [(ngModel)]="Number" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Category:</label>
            <input type="text" [(ngModel)]="Category" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label>Weight:</label>
            <input type="text" [(ngModel)]="Weight" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label> Img:</label>
            <input type="text" [(ngModel)]="Img" class="form-control search-input inp" id="search">
          </div>
          <div class="input-group fl pro-header-l top form_search">
            <label> Hot(0/1):</label>
            <input type="text" [(ngModel)]="Hot" class="form-control search-input inp" id="search">
          </div>
          <p class="showBox_b">
            <input type="button" class="btn btn-success" value="Sure" (click)="addProduct($event)" (click)="hideModal_1($event)" />
            <input type="button" class="btn btn-danger" value="Cancel" (click)="hideModal_1($event)" />
          </p>
          <span class="cancel" (click)="hideModal_1($event)">&times;</span>
        </div>
      </div>
    </div>



  </div>

</div>
