<div class="products_box box">
    <div class="products_head head">
      <h2>用户管理</h2>
    </div>
    <div class="products_nav nav">
      <i class="fa fa-home wel"></i>
      <span>用户管理</span>
      <i class="fa fa-angle-right"></i>
    </div>
    <div class="products_describe describe">
      <span>管理所有用户，可对用户进行删除操作</span>
    </div>
    <div class="products_form form">
        <div class="form_head">
          所有用户
        </div>
        <!-- <div class="form_search">
            <input type="text" name="search" placeholder="搜索" class="inp">
            <input type="button" name="search" value="查询" class="btn">
        </div> -->
        <div class="form_content">
              <table>
                <thead>
                    <tr>
                        <th>你好</th><th>你fasfasf好</th><th>你sfsafs好</th><th>你好sfsafsa</th><th>你好reer</th><th>你ert好</th><th>你好</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>fhishfia</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
