<div class="products_box box">
    <div class="products_head head">
      <h2>用户管理</h2>
    </div>
    <div class="products_nav nav">
      <i class="fa fa-user-circle"></i>
      <span>用户信息</span>
      <i class="fa fa-angle-right"></i>
    </div>
    <div class="products_describe describe">
      <span>查看所有用户，暂时不可以对用户进行操作</span>
    </div>
    <div class="products_form form">
        <div class="form_head">
          所有用户
        </div>
        <div class="form_content">
          <table *ngIf="dataset" class="table table-striped">
            <thead>
              <tr>
                <ng-template ngFor let-key [ngForOf]="columns">
                  <th [class.item-hide]="hideColumns.indexOf(key) > -1">{{key}}</th>
                </ng-template>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataset,let idx=index1">
                <ng-template ngFor let-key [ngForOf]="columns">
                  <td [class.item-hide]="hideColumns.indexOf(key) > -1">{{ dataFilter(item[key],key)}}</td>
                </ng-template>
              </tr>

            </tbody>
          </table>
        </div>
    </div>
</div>
